/* --- Fonts config --- */
@font-face {
    font-family: 'Humanst521-BT';
    src: url('../Assets/tipografias/Humanst521_BT.ttf') format('truetype');
}

@font-face {
    font-family: 'Humanst521-BT-cursive';
    src: url('../Assets/tipografias/Humanst521_BT_cursive.ttf') format('truetype');
}

@font-face {
    font-family: 'Humanst521-BT-Bold';
    src: url('../Assets/tipografias/Humanst521_BT_Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Humanst521-BT-Bold-cursive';
    src: url('../Assets/tipografias/Humanst521_BT_Bold_cursive.ttf') format('truetype');
}

@font-face {
    font-family: 'Humanst521-Lt-BT';
    src: url('../Assets/tipografias/Humanst521_Lt_BT.ttf') format('truetype');
}

@font-face {
    font-family: 'Humanst521-Lt-BT-cursive';
    src: url('../Assets/tipografias/Humanst521_Lt_BT_cursive.ttf') format('truetype');
}

@font-face {
    font-family: 'Humnst777-BT';
    src: url('../Assets/tipografias/Humnst777_BT.ttf') format('truetype');
}

@font-face {
    font-family: 'Humnst777-Lt-BT';
    src: url('../Assets/tipografias/Humnst777_Lt_BT.ttf') format('truetype');
}

@font-face {
    font-family: 'Humnst777-Cn-BT';
    src: url('../Assets/tipografias/Humnst777_Cn_BT.ttf') format('truetype');
}

@font-face {
    font-family: 'Humnst777-Cn-BT-Bold';
    src: url('../Assets/tipografias/Humnst777_Cn_BT_Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Humnst777-Blk-BT';
    src: url('../Assets/tipografias/Humnst777_Blk_BT.ttf') format('truetype');
}

@font-face {
    font-family: 'Humnst777-BlkCn-BT';
    src: url('../Assets/tipografias/Humnst777_BlkCn_BT.ttf') format('truetype');
}
/* --- Fonts config --- */

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

@media (min-width: 1200px) { /* Desktop Browsers */


    body {
        font-size: 32px;
        font-family: 'Humanst521-BT';
        background-color: #F5F5F5 !important;
    }

    #mainName {
        display: flex;
        justify-content: center;
    }

    #mainName img {
        width: 50%;
        height: auto;
    }

    /* --- About --- */
    #aboutContainer {
        margin-inline: 10%;
        margin-top: 1%;
        margin-bottom: 4%;
        display: grid;
        grid-template-columns: 48% 48%;
        justify-content: space-between;
    }

    #aboutImg img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    #aboutContent h2 {
        font-family: 'Humanst521-BT';
        font-size: 2.5rem !important;
    }

    #aboutContent p {
        font-family: 'Humanst521-Lt-BT';
        font-size: 1.3vw !important;
    }

    /* --- About --- */


    /* --- Location --- */
    #locationContainer {
        margin-inline: 10%;
        margin-top: 8%;
        margin-bottom: 4%;
        display: grid;
        grid-template-columns: 48% 48%;
        justify-content: space-between;
    }

    #locationContent h2 {
        font-family: 'Humanst521-BT';
        font-size: 2.5rem !important;
    }

    #locationContent h3 {
        font-family: 'Humanst521-BT';
        font-size: 2rem !important;
    }

    #locationContent p {
        font-family: 'Humanst521-Lt-BT';
        font-size: 1.3vw !important;
    }

    #locationMap iframe {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    /* --- Location --- */


    /* --- Services --- */
    #servicesContainer {
        margin-inline: 10%;
        margin-top: 8%;
        margin-bottom: 4%;
        justify-content: space-between;
    }

    #servicesContainer h2 {
        font-family: 'Humanst521-BT';
        font-size: 3rem !important;
        display: flex;
        justify-content: center;
        margin-bottom: 3%;
    }

    .c-item {
        height: 30rem;
    }

    .c-img {
        height: 100%;
        object-fit: cover;
        filter: brightness(50%);
    }

    /* --- Services --- */

}

@media (min-width: 992px) and (max-width: 1199px) { /* Laptop and similar devices browsers ! - Incompleto - !*/
    #aboutContainer {
        background-color: red;
    }
}

@media (min-width: 768px) and (max-width: 991px) {  /* Tablet browsers and similars */ /* Aqui ya se aplica menu hamburguesa */

    
    body {
        background-color: #F5F5F5 !important;
        font-size: 32px;
        font-family: 'Humanst521-BT';
    }

    #mainName {
        display: flex;
        justify-content: center;
    }

    #mainName img {
        width: 85%;
        height: auto;
    }

    /* --- About --- */
    #aboutContainer {
        margin-inline: 5%;
        gap: 1rem;
        display: flex;
        flex-direction: column;
    }

    #aboutImg {
        display: flex;
        justify-content: center;
    }

    #aboutImg img {
        width: 70%;
        height: auto;
        border-radius: 10px;
    }

    #aboutContent {
        display: flexbox;
        justify-content: center;
    }

    #aboutContent h2 {
        font-family: 'Humanst521-BT';
        font-size: 2.5rem !important;
        text-align: center;
        margin-block: 4%;
    }

    #aboutContent p {
        font-family: 'Humanst521-Lt-BT';
        font-size: 1.4rem;
        text-align: justify;
    }

    /* --- About --- */


    /* --- Location --- */
    #locationContainer {
        margin-inline: 5%;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }

    #locationContent h2 {
        font-family: 'Humanst521-BT';
        font-size: 2.5rem !important;
        text-align: center;
        margin-block: 4%;
    }

    #locationContent h3 {
        font-family: 'Humanst521-BT';
        font-size: 2.3rem !important;
        text-align: center;
        margin-block: 3%;
    }

    #locationContent p {
        font-family: 'Humanst521-Lt-BT';
        font-size: 1.4rem;
        text-align: justify;
    }

    #locationMap {
        height: 100%;
    }

    #locationMap iframe {
        width: 100%;
        height: 80vw;
        border-radius: 10px;
    }

    /* --- Location --- */


    /* --- Services --- */
    #servicesContainer {
        margin-inline: 5%;
        gap: 5rem;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    #servicesContainer h2 {
        font-family: 'Humanst521-BT';
        font-size: 2.5rem;
        display: flex;
        justify-content: center;
        margin-bottom: 3%;
    }

    .c-item {
        height: 35rem;
    }

    .c-img {
        height: 100%;
        object-fit: cover;
        filter: brightness(70%);
    }

    /* --- Services --- */
}

@media (max-width: 767px) { /* Mobile browsers */ /* Aqui se aplica menu hamburguesa */

    
    body {
        background-color: #F5F5F5 !important;
        font-size: 32px;
        font-family: 'Humanst521-BT';
    }

    #mainName {
        display: flex;
        justify-content: center;
    }

    #mainName img {
        width: 100%;
        height: auto;
    }

    /* --- About --- */
    #aboutContainer {
        margin-inline: 5%;
        gap: 1rem;
        display: flex;
        flex-direction: column;
    }

    #aboutImg {
        display: flex;
        justify-content: center;
    }

    #aboutImg img {
        width: 90%;
        height: auto;
        border-radius: 10px;
    }

    #aboutContent {
        justify-content: center;
    }

    #aboutContent h2 {
        font-family: 'Humanst521-BT';
        font-size: 2rem !important;
        text-align: center;
        margin-block: 4%;
    }

    #aboutContent p {
        font-family: 'Humanst521-Lt-BT';
        font-size: 1rem;
        text-align: justify;
    }

    /* --- About --- */


    /* --- Location --- */
    #locationContainer {
        margin-inline: 5%;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }

    #locationContent h2 {
        font-family: 'Humanst521-BT';
        font-size: 2rem !important;
        text-align: center;
        margin-block: 4%;
    }

    #locationContent h3 {
        font-family: 'Humanst521-BT';
        font-size: 2rem !important;
        text-align: center;
        margin-block: 3%;
    }

    #locationContent p {
        font-family: 'Humanst521-Lt-BT';
        font-size: 1rem;
        text-align: justify;
    }

    #locationMap {
        height: 100%;
    }

    #locationMap iframe {
        width: 100%;
        height: 80vw;
        border-radius: 10px;
    }

    /* --- Location --- */


    /* --- Services --- */
    #servicesContainer {
        margin-inline: 5%;
        gap: 5rem;
        margin-bottom: 5%;
        margin-top: 10%;
    }

    #servicesContainer h2 {
        font-family: 'Humanst521-BT';
        font-size: 2.5rem;
        display: flex;
        justify-content: center;
        margin-bottom: 3%;
    }

    .c-item {
        height: 30rem;
    }

    .c-img {
        height: 100%;
        object-fit: cover;
        filter: brightness(70%);
    }

    /* --- Services --- */
}